// Variables
@import 'variables';

// Fonts
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/material-icons.woff2);
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
// Materialize
@import '~materialize-css/sass/materialize.scss';

@font-face {
    font-family: "Muli-Regular";
    src: url("../fonts/Muli-Regular.ttf");
}

.white-bg {
    padding: 5rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 1rem rgb(95, 94, 94);
}
.collection-title {
    margin-bottom: 2rem;
}

.logo-shadowed {
    filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(0,0,0,0.5));
    &:hover {
        filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(0,0,0,0.8));
    }
}

.parallax {
    /* The image used */
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)),
        url('../images/backgrounds/post-apo-city.jpg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

pre {
    margin-bottom: 1em;
    padding: 12px 8px;
    padding-bottom: 20px;
    width: auto;
    width: 650px;
    max-height: 600px;
    overflow: auto;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    font-size: 13px;
    background-color: #eff0f1;
    border-radius: 3px;
}

#navbar {
    position: absolute;
    width: 100vw;
    color: black !important;
    .brand-logo {
        display: flex;
        width: 5vw;
        height: 100%;
        z-index: 1;
        .navbar-logo {
            margin: auto;
            width: 3rem;
            height: 3rem;
        }
    }
    .sidenav-trigger {
        color: black;
    }
    .sidenav {
        li {
            position: relative;
            z-index: 1;
            &:hover {
                background-color: rgba(0, 0, 0, 0.05) !important;
            }
        }
    }
    .active {
        background-color: rgba(0, 0, 0, 0.1);
    }
    nav li a {
        color: black !important;
        position: relative;
        z-index: 1;
    }
}
#login {
    .container {
        max-width: 80vw !important;
        width: 80vw !important;
        border-radius: 0.5rem;
        padding: 1rem;
    }
    .btn-login {
        margin-top: 1rem;
    }
    .password-request {
        margin-top: 1rem;
    }
}

.shadowed {
    -webkit-filter: drop-shadow(0.15rem 0.15rem 0.1rem rgba(0,0,0,0.6));
    // filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
.no-shadows {
    box-shadow: none!important;
}

// Laravel CSS 

html, body {
    background-color: #fff;
    color: #090910;
    font-family: 'Muli-Regular', sans-serif;
    font-weight: 800;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}